$main-color: rgb(0, 29, 26);
$special-color: rgba(0, 141, 127, 0.763);
$title-color: rgb(0, 49, 44);
$main-margin: 20px;
$main-padding: 10px;
$width: 700px;
$logos-size: 30px;
$titles-size: 20px;
$normal-size: 17px;
$main-transition: 0.3s;
$small-mediaQ:  751px; // Small devices (portrait tablets and down)
$Xsmall-mediaQ:  651px; // Small devices (portrait tablets and down)
$XXsmall-mediaQ:  551px; // Small devices (portrait tablets and down)
$XXXsmall-mediaQ:  440px; // Small devices (SmartPhones and down)
$XXXXsmall-mediaQ:  380px; // Small devices (SmartPhones and down)
$tiny-mediaQ: 290px; //Tiny phones
